[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/ctti"]
	path = extern/ctti
	url = https://github.com/hendrik-skubch/ctti.git
