/extern/
build/
builds/
cmake-build*/

.git/
.idea/
.obsidian/
.trash/
notes/

*.tar.gz
*.zip
*.log
*.png
*.wav

assets/**
!assets/**/
!assets/**/*.rml
!assets/**/*.json
!assets/**/*.frag
!assets/**/*.vert
!assets/fonts/*
assets/sfx
assets/graphics/**/*.txt

!assets/graphics/ui/quadrants.png
!assets/graphics/ui/quadrants-alt.png
!/projects/modules/graphics/opengl/tests/fixtures/rgba-two-rows.png